<h1>Editing store room entry</h1>

<%= render "form", store_room_entry: @store_room_entry %>

<br>

<div>
  <%= link_to "Show this store room entry", @store_room_entry %> |
  <%= link_to "Back to store room entries", store_room_entries_path %>
</div>
