<p style="color: green"><%= notice %></p>

<h1>出庫表一覧</h1>

<div id="store_room_exits">
  <% @store_room_exits.order(id: :desc).each do |store_room_exit| %>
    <%= store_room_exit.created_at %>
    <p>
      <%= link_to "Show this store room exit", store_room_exit %>
    </p>
  <% end %>
</div>

<%= link_to "New store room exit", new_store_room_exit_path %>
