<h1>Editing receive donation request</h1>

<%= render "form", receive_donation_request: @receive_donation_request %>

<br>

<div>
  <%= link_to "Show this receive donation request", @receive_donation_request %> |
  <%= link_to "Back to receive donation requests", receive_donation_requests_path %>
</div>
