<h1>New receive donation request</h1>

<%= render "form", receive_donation_request: @receive_donation_request %>

<br>

<div>
  <%= link_to "Back to receive donation requests", receive_donation_requests_path %>
</div>
